<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

  <body>

    <%- include('./partials/nav.ejs') %>

      <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, dolorem quae. Temporibus ex vitae animi
          ab
          cum eos maxime corrupti officia odio optio, voluptatem nesciunt amet at quia corporis eveniet vel
          exercitationem
          dolor, perferendis hic dicta eum sequi quasi earum. Facere, iste sequi libero aut voluptas non quidem nulla!
          Accusamus quia corporis assumenda voluptatem tempora similique explicabo, quaerat, repudiandae voluptate magni
          ratione! Deserunt aperiam placeat odit reiciendis quibusdam enim a odio! Quod dolorem culpa quibusdam qui
          inventore? Architecto repellendus est fugit aut mollitia dicta dolores commodi ullam autem nostrum, quo
          dolorum,
          inventore vero sint reiciendis eveniet voluptates nulla doloribus deserunt.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus ab, mollitia, praesentium nostrum optio sunt
          velit amet quasi unde ullam, accusamus possimus sapiente nemo deleniti vitae quaerat aliquam enim earum aut
          veritatis a voluptatem tenetur. Fuga assumenda, unde ratione atque dolores iure, animi molestias rem
          excepturi,
          eveniet cumque temporibus illum consequuntur voluptates quis repellendus eos dicta? Esse ea vero corrupti.
          Sunt
          et
          quos, veniam aut consectetur cumque labore ut, unde ullam rerum provident, illo temporibus ad repellat
          commodi!
          Quis debitis tenetur laborum. Officiis vel ipsam placeat, earum pariatur autem aliquid repellat in? Architecto
          natus voluptatem quod saepe ducimus nam similique.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque velit tenetur sapiente soluta numquam, qui a
          natus
          recusandae architecto voluptas saepe possimus atque maiores maxime blanditiis suscipit deserunt quia minus
          quaerat
          cupiditate similique totam voluptatum reiciendis. Hic officiis iusto magni quis odio at alias quasi iste
          velit,
          fuga quas dolor nulla sapiente, architecto assumenda molestias. Cum maiores porro, minus, dolores voluptatem
          asperiores magni assumenda molestias obcaecati provident harum, ullam natus dolorum repellendus beatae rerum
          sapiente impedit. Cupiditate molestiae dolores sint! Perspiciatis sed nulla labore neque? Iste, dolorum
          repellat
          illum molestias tempore dolore quis laboriosam non earum aut omnis, ad quasi.</p>
      </div>

      <%- include('./partials/footer.ejs') %>
  </body>

</html>